@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/********************************margin-padding***********************************************/
.mt_2 {
  margin-top: -2px;
}

.mt-32 {
  margin-top: 32px;
}

.py-22 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.mt-11 {
  margin-top: 11px;
}

.pt-23 {
  padding-top: 23px;
}


.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mt-12 {
  margin-top: 12px;
}

.pt-42 {
  padding-top: 42px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-66 {
  margin-top: 66px !important;
}

.ml-30 {
  margin-left: 30px;
}

.pt-44 {
  padding-top: 44px;
}


.mt-34 {
  margin-top: 34px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-43 {
  margin-top: 43px;
}

.mt-90 {
  margin-top: 90px !important;
}

.pt-25 {
  padding-top: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

/********************************margin-padding***********************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}

ol,
ul {
  padding-left: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.container-2 {
  max-width: 1140px;
  padding-right: 12px;
  padding-left: 12px;
  margin-left: auto;
  margin-right: auto;
}

.bg-hero {
  background-image: url('/images/Herobgimg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.bg-play {
  background-image: url('/images/Play-bg-img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 768px;
}

.nav-btn {
  padding: 12px 32px;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  border-radius: 261px;
  border: none;
  position: relative;
  z-index: 2;
}

.nav-btn::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 61px;
  background: linear-gradient(122.49deg, #9B1357 8.77%, #331254 100%);
  transition: 0.3s linear;
  color: black;
  z-index: -1;
  opacity: 0;
}

.nav-btn:hover::after {
  opacity: 1;
}


.play-btn {
  padding: 10px 19px;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  border-radius: 261px;
  border: none;
  position: relative;
  z-index: 2;
}

.play-btn::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 61px;
  background: linear-gradient(122.49deg, #9B1357 8.77%, #331254 100%);
  transition: 0.3s linear;
  color: black;
  z-index: -1;
  opacity: 0;
}

.play-btn:hover::after {
  opacity: 1;
}

.level-up-box {
  max-width: 571px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: transparent;
  backdrop-filter: blur(12px);
  padding: 34px 36px;
  position: relative;
}

.level-up-box::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  border-radius: 30px;
  padding: 0.1px 0px;
  border: 2px solid transparent;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(218, 43, 85, 0.2) 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.name-btn {
  padding: 12px 20px;
  position: relative;
  border: none;
  border-radius: 261px;
  background-color: transparent;
}

.name-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  border-radius: 261px;
  padding: 0.1px 0px;
  border: 1px solid transparent;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.name-btn:hover {
  background: linear-gradient(122.49deg, #9B1357 8.77%, #331254 100%);
}



.move-btn {
  padding: 12px 25px;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  border-radius: 261px;
  border: none;
  position: relative;
  z-index: 2;
}

.move-btn::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 61px;
  background: linear-gradient(122.49deg, #9B1357 8.77%, #331254 100%);
  transition: 0.3s linear;
  color: black;
  z-index: -1;
  opacity: 0;
}

.move-btn:hover::after {
  opacity: 1;
}

.play-btn-pos {
  top: 50%;
  left: 47%;
  z-index: 1;
}

.text-gradient {
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-btn {
  position: relative;
  padding: 10px 19px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.2) 1.85%, rgba(251, 176, 59, 0.2) 98.12%);
}

.about-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  border-radius: 30px;
  padding: 0.1px 0px;
  inset: 0;
  border: 2px solid transparent;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.41) 1.85%, rgba(251, 176, 59, 0.41) 98.12%) border-box;
  -webkit-mask:
    linear-gradient(151.6deg, rgba(212, 20, 90, 0.2) 1.85%, rgba(251, 176, 59, 0.2) 98.12%) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.about-btn:hover::after {
  z-index: -1;
}

.h-76 {
  min-height: 76px;
}

.build-card {
  width: 100%;
  max-width: 364px;
  height: 100%;
  max-height: 272px;
  background: #1E1E1E73;
  border-radius: 30px;
  padding: 49px 26px;
  transition: 0.3s linear;
  position: relative;
}

.build-card:hover {
  transform: translateY(-35px);
}

.build-card:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  border-radius: 30px;
  border: 1px solid transparent;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.4) 1.85%, rgba(251, 176, 59, 0.4) 98.12%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: 5;
}

.box-ellips {
  width: 297px;
  height: 116px;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  border-radius: 50%;
  filter: blur(85px);
}

.btm-23 {
  bottom: -23%;
  opacity: 0;
  transition: 0.3s linear;
}

.build-card:hover .btm-23 {
  opacity: 1;
}

.team-btn {
  padding: 10px 19px;
  border-radius: 30px;
  border: none;
  position: relative;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.2) 1.85%, rgba(251, 176, 59, 0.2) 98.12%);

}

.team-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  border-radius: 30px;
  inset: 0;
  border: 2px solid transparent;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.41) 1.85%, rgba(251, 176, 59, 0.41) 98.12%) border-box;
  -webkit-mask:
    linear-gradient(151.6deg, rgba(212, 20, 90, 0.2) 1.85%, rgba(251, 176, 59, 0.2) 98.12%) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.team-btn:hover::after {
  z-index: -1;
}

.expertise-card {
  width: 100%;
  max-width: 558px;
  background: #1E1E1E73;
  height: 100%;
  border-radius: 30px;
  padding: 13px 12px 14px 13px;
}

.gap-12 {
  gap: 12px;
}

.expert-ellips {
  width: 691px;
  height: 156px;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  filter: blur(79px);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}

.expertise-card:hover .expert-ellips {
  visibility: visible;
  opacity: 1;
}

.bg-next {
  background-image: url(/images/next-bg-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 646px;
}

.slider-img {
  opacity: 0.5;
  transition: 0.3s linear;
}

.slider-img:hover {
  opacity: 1;
}

.bg-update {
  background-image: url(/images/get-update-bg-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1040px;
}

.update-box {
  max-width: 726px;
  width: 100%;
  padding: 20px;
  background: #0000001A;
  border-radius: 30px;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(10px);
}

.update-box::after {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 30px;
  border: 2px solid transparent;
  background: linear-gradient(231.49deg, rgba(255, 255, 255, 0) -0.51%, rgba(218, 43, 85, 0.3479) 83.2%) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;

}

.form-input {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.form-box {
  width: 100%;
  padding: 20px 12px;
  background: #FFFFFF1A;
  border-radius: 8px;
  position: relative;
  z-index: 2;
}

.form-box:hover:after {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 8px;
  border: 2px solid transparent;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.4) 1.85%, rgba(251, 176, 59, 0.4) 98.12%) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
}

.max-w-547 {
  max-width: 547px;
}

.input-box {
  width: 18px;
  height: 18px;
}

.sub-btn {
  border-radius: 200px;
  padding: 16px 32px;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  border: none;
  position: relative;
  z-index: 2;
}

.sub-btn::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 61px;
  background: linear-gradient(122.49deg, #9B1357 8.77%, #331254 100%);
  transition: 0.3s linear;
  color: black;
  z-index: -1;
  opacity: 0;
}

.sub-btn:hover::after {
  opacity: 1;
}

.icon-box {
  border: 0.5px solid #FFFFFF;
  width: 36.5px;
  height: 36.5px;
  border-radius: 50%;
  transition: 0.3s linear;
}

.icon-box:hover {
  transform: translateY(-9px);
}

.max-w-287 {
  max-width: 287px;
}

.footer-line {
  border: 1px solid #FFFFFF;
  opacity: 10%;
}

.line_nav {
  position: relative;
}

.line_nav::after {
  position: absolute;
  content: "";
  bottom: -15%;
  left: 0;
  width: 0;
  height: 1.2px;
  background: white;
  transition: all 0.3s linear;
}

.line_nav:hover::after {
  width: 100%;
  right: 0;

}

/************************************* time-line-code ******************************/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border: 1px solid transparent;
  background: linear-gradient(180deg, #EC7646 1.56%, rgba(255, 255, 255, 0) 94.87%) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;

}


.container-timeline {
  padding: 10px 40px 5px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}


.right::after {
  left: -16px;
}



.content:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  border-radius: 30px;
  border: 1px solid transparent;
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.4) 1.85%, rgba(251, 176, 59, 0.4) 98.12%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: 5;
}



.timeline-box-ellips {
  width: 437px;
  height: 72px;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  opacity: 70%;
  border-radius: 50%;
  filter: blur(55px);
}

.timeline-ellips-pos {
  left: 2%;
  bottom: -23%;
  opacity: 0;
  transition: 0.3s linear;
}

.content:hover .timeline-ellips-pos {
  opacity: 1;
}

.slick-track {
  display: flex !important;
  gap: 50px !important;
}

.svg-pos {
  top: -10%;
  left: -7%;
}

.content {
  padding: 50px 19px;
  background-color: #1E1E1E75;
  max-width: 477px;
  width: 100%;
  position: relative;
  border-radius: 30px;
}

.text-pos {
  top: 29%;
  right: -3%;
}

.text-pos2 {
  top: 4%;
  left: -8%;
}

.text-pos3 {
  top: 4%;
  right: -10%;
}

.nav-line {
  transition: 0.3s linear;
}

.nav-line:hover {
  opacity: 1;
}

.about-ellips {
  width: 402px;
  height: 391px;
  background: #AD1AAF;
  opacity: 75%;
  border-radius: 50%;
  filter: blur(150px);
}

.ellips-about-pos {
  top: 20%;
  left: -22%;
}

.bg-roadmap {
  background-image: url(/images/Roadmap-bg-img.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.card-ellips-pos {
  top: 3%;
  left: -1%;
  z-index: 0;
}

.gradient-ellips {
  width: 362px;
  height: 366px;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  border-radius: 50%;
  filter: blur(170px);
}

.rich-ellips-pos {
  top: 61%;
  right: 5%;
  z-index: 0;
}

.team-right-ellips-pos {
  top: 30%;
  right: -22%;
}

.team-left-ellips-pos {
  top: 50%;
  left: -22%;
}

.top-timeline-ellips {
  top: 6%;
  left: -14%;
}

.footer-right-ellips-pos {
  right: 0;
}

/***************************************** root-css ******************************/
.color-grey {
  color: var(--color-grey);
}

.text-14 {
  font-size: var(--fs-sm);
}

.text-16 {
  font-size: var(--fs-md);
}

.text-18 {
  font-size: var(--fs-lg);
}

.text-20 {
  font-size: var(--fs-xl);
}

.text-24 {
  font-size: var(--fs-2xl);
}

.text-32 {
  font-size: var(--fs-3xl);
}

.text-52 {
  font-size: var(--fs-4xl);
}

.text-72 {
  font-size: var(--fs-5xl);
}

.lh-24 {
  line-height: 24px;
}

.lh-27 {
  line-height: 27px;
}

.lh-86 {
  line-height: 86px;
}

.lh-288 {
  line-height: 28.8px;
}

.lh-2813 {
  line-height: 28.13px;
}

.lh-192 {
  line-height: 19.2px;
}

.lh-62 {
  line-height: 62.4px;
}

.lh-21 {
  line-height: 21.6px;
}

.lh-38 {
  line-height: 38.4px;
}

.lh-67 {
  line-height: 67.6px;
}

.lh-18 {
  line-height: 18.75px;
}

.lh-20 {
  line-height: 20px;
}

.lh-21 {
  line-height: 21.09px;
}

.lh-16 {
  line-height: 16.41px;
}

.op-7 {
  opacity: 70%;
}

.op-6 {
  opacity: 60%;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.ff-k2d {
  font-family: "K2D", sans-serif;
}

.ff-poppins {
  font-family: "Poppins", sans-serif;
}

.ff-roboto {
  font-family: "Roboto Flex", sans-serif;
}

.lts-12 {
  letter-spacing: 0.12px;
}

.lh-sm-86 {
  line-height: 40px;
}

.lh-md-67 {
  line-height: 36.6px;
}

.lh-md-62 {
  line-height: 32.4px;
}

.text-187 {
  font-size: 187px;
}

.lh-224 {
  line-height: 224.98px;
}

.color-lightgrey {
  color: #0F0F0F;
}

:root {
  --fs-sm: 14px;
  --fs-md: 15px;
  --fs-lg: 12px;
  --fs-xl: 20px;
  --fs-2xl: 17px;
  --fs-3xl: 32px;
  --fs-4xl: 28px;
  --fs-5xl: 40px;
  /* ----color--- */
  --color-grey: #B3B2B3;

}

@media (min-width:576px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 20px;
    --fs-3xl: 32px;
    --fs-4xl: 31px;
    --fs-5xl: 58px;

  }

  .lh-sm-86 {
    line-height: 50px;
  }

  .lh-md-67 {
    line-height: 48.6px;
  }

  .lh-sm-27 {
    line-height: 27px;
  }

  .lh-md-62 {
    line-height: 40.4px;
  }

  .svg-pos {
    top: -6%;
    left: -4%;
  }

}

@media (min-width:768px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 44px;
    --fs-5xl: 48px;

  }

  .mt-11 {
    margin-top: 40px;
  }


  .lh-md-67 {
    line-height: 67.6px;
  }

  .py-22 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .name-btn {
    padding: 16px 32px;
  }

  .move-btn {
    padding: 16px 48px;
  }

  .lh-md-62 {
    line-height: 62.4px;
  }

  .content {
    padding: 67px 38px;
  }

  .play-btn {
    padding: 16px 32px;
  }

}

@media (min-width:992px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 52px;
    --fs-5xl: 72px;

  }

  .lh-sm-86 {
    line-height: 86px;
  }

  .py-22 {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .update-box {
    padding: 40px;
  }

  .svg-pos {
    top: 0;
    left: 44.99%;
  }

  .container-timeline {
    padding: 10px 40px 140px 40px;
  }

  .pt-81 {
    padding-top: 81px !important;
  }

  .pb-167 {
    padding-bottom: 176px;
  }

  .pt-23 {
    padding-top: 107px;
  }

  .py-50 {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .pt-42 {
    padding-top: 114px;
  }

  .pt-44 {
    padding-top: 145px;
  }

  .mt-61 {
    margin-top: 61px !important;
  }

  .pb-86 {
    padding-bottom: 86px;
  }

  .pt-25 {
    padding-top: 170px;
  }

  .mt-90 {
    margin-top: 140px !important;
  }

  .bg-hero {
    background-size: 100% 100%;
  }
}

@media (min-width:1200px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 52px;
    --fs-5xl: 72px;

  }

  .expertise-card {
    min-height: 359px;
  }

  .pt-44 {
    padding-top: 202px;
  }

  .pt-25 {
    padding-top: 220px;
  }
}

@media (min-width:1400px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 52px;
    --fs-5xl: 72px;

  }

}

@media (max-width:992px) {
  .mobile-view {
    background-color: #201341;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 5;
    transition: all 300ms linear;
  }

  .z-5 {
    z-index: 5;
  }

  .menu span:nth-child(1) {
    height: 4px;
    width: 35px;
    background: white;
    display: block;
    transition: all 300ms linear;
  }

  .menu span:nth-child(2) {
    height: 4px;
    width: 35px;
    background: white;
    display: block;
    transition: all 300ms linear;
  }

  .menu span:nth-child(3) {
    height: 4px;
    width: 35px;
    background: white;
    display: block;
    transition: all 300ms linear;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 58px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

}