:root {
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-2xl: 24px;
  --fs-3xl: 32px;
  --fs-4xl: 52px;
  --fs-5xl: 72px;

}

.text-14 {
  font-size: var(--fs-sm);
}

.text-16 {
  font-size: var(--fs-md);
}

.text-18 {
  font-size: var(--fs-lg);
}

.text-20 {
  font-size: var(--fs-xl);
}

.text-24 {
  font-size: var(--fs-2xl);
}

.text-32 {
  font-size: var(--fs-3xl);
}

.text-52 {
  font-size: var(--fs-4xl);
}

.text-72 {
  font-size: var(--fs-5xl);
}


.lh-24 {
  line-height: 24px;
}

.lh-27 {
  line-height: 27px;
}

.lh-86 {
  line-height: 86px;
}

.lh-288 {
  line-height: 28.8px;
}

.lh-2813 {
  line-height: 28.13px;
}

.lh-192 {
  line-height: 19.2px;
}

.lh-62 {
  line-height: 62.4px;
}

.lh-21 {
  line-height: 21.6px;
}

.lh-38 {
  line-height: 38.4px;
}

.lh-67 {
  line-height: 67.6px;
}

.lh-18 {
  line-height: 18.75px;
}

.lh-20 {
  line-height: 20px;
}

.lh-21 {
  line-height: 21.09px;
}

.lh-16 {
  line-height: 16.41px;
}

.op-7 {
  opacity: 70%;
}

.op-6 {
  opacity: 60%;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.ff-k2d {
  font-family: "K2D", sans-serif;
}

.ff-poppins {
  font-family: "Poppins", sans-serif;
}

.ff-roboto {
  font-family: "Roboto Flex", sans-serif;
}


@media (min-width:576px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 52px;
    --fs-5xl: 72px;

  }

}

@media (min-width:768px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 52px;
    --fs-5xl: 72px;

  }

}

@media (min-width:992px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 52px;
    --fs-5xl: 72px;

  }

}

@media (min-width:1024px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 52px;
    --fs-5xl: 72px;

  }

}

.bg-hero {
  background-image: url('../../public/images/Herobgimg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}